/* Universal selector */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #efe6dd;
}
header {
  background-color: #231f20;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brdr {
  border-right: black solid 3px; 
  
}

main div {
  padding: 10px
}



h1 {
  font-size: 48px;
  color: #efe6dd;
  padding: 10px;
  background-color: #bb4430;
}

div img {
  width: 100%;
  /* height: auto; */
}
/* nav bar items */
div li {
  color: #efe6dd;
  display: inline;
  padding: 10px;
  flex: wrap;
  border-bottom: #bb4430 solid 2px;
  margin: 15px;
}

a {
  color: #bb4430;
  display: inline;
  text-decoration: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

/* col-sm-10 div {
  background-color: #231f20;
} */

 /* {
  background-color: #bb4430

} */

/* class selectors */


/* .about-me-1 {
  min-height: 200px;
  width: 25%;

}

.about-me-3 {
  min-height: 200px;

}

.my-work-container {
  height: 700px;
  flex: wrap;

  margin: 10px;
} */
.flex-item div {
  background-color: #bb4430;
}

.work-text {
  color: #efe6dd; 
}

.flex-item {
  border: 5px solid #231f20;
  /* background-color: var(--primary); */
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

/* feature first portfolio item */
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}


.snoopie {
  background-image: url("../images/snoopiepic.png");
}

.planner {
  background-image: url("../images/planner3.png");
}

.password {
  background-image: url("../images/passwordgen.png");
}


/* .my-work-attributes {
  /* width: 400px; */

/* .my-work-1 {
  height: 300px;
  width: 100px;
}

.my-work-2 {
  height: 300px;
  width: 100px;
}

.my-work-3 {
}

.my-work-4 {
}

.my-work-2 {
}

.contact-me-container {
  display: flex;
  justify-content: space-evenly;
} */







.nav-list {
  display: flex;
  align-items: center;
  justify-content: right;
  /* margin: 0 auto; */
}

div .nav-list {
  justify-content: right;
}

.nav-list ul {
  padding: 0px;
}

/* linked to sections */
#about-me {
  border: 1px;

}

.about-me-info img {
  width: auto;
}

.about-me-info {
  border: 1px;

}

.contact-items {
  display: flex;
  color: #231f20;
}

/* id selectors */
#about-me {
  display: flex;
  width: 40%;
}

/* id selectors */
.subtitle {
  background-color: #bb4430;
  color: #efe6dd;
  position: absolute;
  padding: 5px;
}

footer {
}

/* @media */
@media only screen and (max-width: 600px) {
  .header,
  .nav-list {
    height: 100%;
    width: 50%;
  }
}

/* @media screen and (max-width: 30%){
  .about-me,
  h2{
    width: 30%

  }
 } */
