* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #efe6dd;
}
header {
  background-color: #231f20;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main div {
  padding: 10px;
}

h1 {
  font-size: 48px;
  color: #efe6dd;
  padding: 10px;
  background-color: #bb4430;
}

div img {
  width: 100%;
}

span {
  /* TODO: center project links within div */
}

.inline-li li {
  color: #efe6dd;
  display: inline;
  padding: 10px;
  flex: wrap;
  border-bottom: #bb4430 solid 2px;
  margin: 15px;
}

#technical-skills li {
 /* TODO: style this section */
}

a {
  color: #bb4430;
  display: inline;
  text-decoration: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.flex-item div {
  background-color: #bb4430;
}

.work-text {
  color: #efe6dd;
}

.flex-item {
  border: 3px solid #231f20;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.gitcommit-img {
  background-image: url("../images/gitcommit.png");
}

.homeroute-img {
  background-image: url("../images/homeroute.png");
}

.employee-dir-img {
  background-image: url("../images/employee-dir.png");
}

#phone {
  color: #231f20;
}

.subtitle {
  background-color: #bb4430;
  color: #efe6dd;
  position: absolute;
  padding: 5px;
}

.brdr {
  border-right: black solid 3px;
}
